html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: grey;
}

a {
    color: aquamarine;
    text-decoration-line: underline;
}